<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 2. mybatis의 환경설정 파일 만들기 : config.xml -->
<!-- configuration -> 순서 -->
<!-- (properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, 
 objectWrapperFactory?, reflectorFactory?, plugins?, environments?, databaseIdProvider?, mappers?) -->
<configuration>
<!-- 3. DB접속정보 파일 만들기 : db.properties -->
	<properties resource="com/smhrd/db/db.properties">
	</properties>
	
	<!-- TypeAlias 지정하기 -->
	<typeAliases>
		<typeAlias type="com.smhrd.model.CustomerDTO" alias="CustomerDTO"/>
		<typeAlias type="com.smhrd.model.SellerDTO" alias="SellerDTO"/>
		<typeAlias type="com.smhrd.model.ProposalDTO" alias="ProposalDTO"/>
		<typeAlias type="com.smhrd.model.RequestDTO" alias="RequestDTO"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 5. mapper파일 연결하기 -->
	<mappers>
		<mapper resource="com/smhrd/mapper/MemberMapper.xml" />
		<mapper resource="com/smhrd/mapper/ProposalMapper.xml" />
		<mapper resource="com/smhrd/mapper/RequestMapper.xml" />
	</mappers>
</configuration>