<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.RequestMapper">
	<select id="showCustRequest" parameterType="CustomerDTO"
		resultType="RequestDTO">
		select * from request_info where cust_no = #{cust_no}
	</select>

	<select id="showRequest" resultType="RequestDTO">
		select * from request_info
	</select>

	<insert id="requestWrite" parameterType="RequestDTO">
		insert into
		request_info(cust_no, req_title, req_file, req_cate, req_content,
		req_price)
		values (#{cust_no}, #{req_title}, #{req_file}, #{req_cate}, #{req_content},
		#{req_price})
	</insert>

	<select id="requestRecommend" resultType="RequestDTO">
		SELECT ri.*
		FROM request_info ri
		JOIN like_info li ON ri.cust_no = li.cust_no
		LEFT JOIN proposal_info pi ON ri.req_no = pi.req_no
		JOIN customer_info ci ON ri.cust_no = ci.cust_no
		JOIN seller_info si ON li.seller_no = si.seller_no
		WHERE ri.is_canceled = 'N'
		AND ri.is_completed = 'N'
		AND li.seller_no = #{seller_no}
		AND (pi.is_chosen = 'N' OR pi.is_chosen IS NULL)
		ORDER BY
		CASE
		WHEN SUBSTRING_INDEX(si.seller_addr, ' ', 1) =
		SUBSTRING_INDEX(ci.cust_addr, ' ', 1) THEN 1
		ELSE 2
		END,
		YEAR(ri.created_at) DESC,
		(SELECT COUNT(*)
		FROM request_info ri_sub
		WHERE ri_sub.cust_no = ri.cust_no
		AND ri_sub.is_completed = 'Y') DESC,
		ri.created_at DESC
		LIMIT 3;
	</select>
</mapper>